.glass {
    background: rgb(139, 206, 245, 0.2);
    border-radius: 2em;
    border: 1px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}

h1, p, h2, h3, h4 {
    color: #ffffff
}

.glass-navbar {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 3em;
    border: 1px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}

    {
    background: rgb(134, 212, 255);
    background: linear-gradient(98deg, rgba(134, 212, 255, 1) 15%, rgba(255, 140, 224, 1) 75%, rgba(255, 151, 166, 1) 100%);
}

.content-wrapper {
    background-image: url("dist/img/14.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #843ba5;
}

body {
    background: linear-gradient(180deg, rgba(73, 45, 147, 1) 0%, rgba(88, 56, 156, 1) 100%);
}

a, .sidebar-dark-primary .sidebar a, a:active, link:active {
    color: #39B7D6;
}

.sidebar-dark-primary .sidebar a:hover {
    color: #39B7D6;
}

/* coustom scrool bar */

#style-15::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #F5F5F5;
    border-radius: 10px;
}

#style-15::-webkit-scrollbar {
    width: 10px;
    background-color: #F5F5F5;
}

#style-15::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #FFF;
    background-image: -webkit-gradient(linear, 40% 0%, 75% 84%, from(#1fe7e7), to(#21e2a2), color-stop(.6, #3FE0C9))
}

/* coustom scrool bar END */

.neon {
    border: 1px solid #50e4cb;
    border-radius: 40px 40px 40px 40px;
    animation-name: neon;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes neon {
    0% {
        border-color: rgb(255, 123, 255)
    }
    25% {
        border-color: rgb(72, 255, 0)
    }
    50% {
        border-color: rgb(0, 217, 255)
    }
    75% {
        border-color: rgb(0, 255, 179)
    }
    100% {
        border-color: rgb(229, 255, 113)
    }
}

}